<section class="for-full-back color-bg-one" id="services-sec">
    <div class="container">
        <div class="row text-center">
            <div class="col-md-8 col-md-offset-2 ">
                <h1><i class="fa fa-rocket faa-pulse animated  "></i>Services</h1>

            </div>
            <div class="row text-center">
                <div class="col-md-8 col-md-offset-2 ">
                    <h4>
                        <strong>
                            What to Look for in a Software Development Program
                        </strong>
                        <p>
                            If you decide that you want to study software development in the US, here are some questions you need to ask about any programs you might be considering:

                            Is the campus equipped with a sophisticated computer network, and does it have the appropriate software development tools for software development students?
                            Is the program accredited by the Accreditation Board for Engineering and Technology?
                            Does the faculty have practical experience, as well as academic? Have they built large software systems?
                            What is the senior project or capstone course like?
                            Does the department have ties to local companies that offer software development internships?
                        
                        </p>
                    </h4>
                </div>
            </div>
        </div>
    </div>
</section>
<section class="for-full-back color-white " id="services-inner">
    <div class="container">
        <div class="row text-center">
            <div class="col-md-12">
                <div class="col-md-3 ">
                    <div class="service-div">
                        <i class="fa fa-desktop fa-5x faa-vertical animated"></i>
                        <h4>Sure Quique Menu </h4>
                        <p>
                            Lorem ipsum dolor sit amet, consectetur adipiscing elit.
                     Curabitur nec nisl odio. Mauris vehicula at nunc id posuere.
                        </p>
                    </div>
                </div>
                <div class="col-md-3 ">
                    <div class="service-div">
                        <i class="fa fa-flask fa-5x faa-ring animated"></i>
                        <h4>100% Free Responsive </h4>
                        <p>
                            Lorem ipsum dolor sit amet, consectetur adipiscing elit.
                     Curabitur nec nisl odio. Mauris vehicula at nunc id posuere.
                        </p>
                    </div>
                </div>
                <div class="col-md-3 ">
                    <div class="service-div">
                        <i class="fa fa-plus fa-5x faa-float animated"></i>
                        <h4>Well Documented </h4>
                        <p>
                            Lorem ipsum dolor sit amet, consectetur adipiscing elit.
                     Curabitur nec nisl odio. Mauris vehicula at nunc id posuere.
                        </p>
                    </div>
                </div>
                <div class="col-md-3 ">
                    <div class="service-div">
                        <i class="fa fa-credit-card fa-5x faa-shake animated"></i>
                        <h4>Clean & Customizable </h4>
                        <p>
                            Lorem ipsum dolor sit amet, consectetur adipiscing elit.
                     Curabitur nec nisl odio. Mauris vehicula at nunc id posuere.
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>